<div class="container">
<h1>Your cart</h1>
<%= debug session[:cart] %>
<table>
  <% session[:cart].each do |id, q| %>
    <%item = Product.where(:id => id).first%>
      <tr>
        <td><%= image_tag item.image, :width =>100 %></td>
        <td><%=item.name %></td>
      </tr>
  <%end%>
</table>

</div>
