s// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root{
  margin-left: 20px
}
a, a:link, a:visited
{
  text-decoration: none !important;
}
.card-img-top{
  height: 250px;
}
